{% extends 'home.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <div class="card show-sm">
                    <img src="{{ product.image | media_filter }}">
                </div>
                <h1 class="card-title pricing-card-title">{{ product.cost_of_purchase }} ₽</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ product.description }}</li>
                    <li>Создан: {{ product.created_at }}</li>
                    <li>Обновлен: {{ product.updated_at }}</li>
                </ul>
                <a type="button" class="btn btn-primary" href="{% url 'catalog:home' %}">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}