{% extends 'catalog/home.html' %}
{% block content %}
<div class="container">
    <dib class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">
                        Удаление товара {{ object.name }}
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Удалить
                    </button>
                    <a type="button" class="btn btn-primary" href="{% url 'catalog:home' %}">Отменить</a>
                </div>
            </form>
        </div>
    </dib>
</div>
{% endblock %}